@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

@font-face {
  font-family: 'Eurostile';
  src: url('../assets/fonts/EuroStyleNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: 'Eurostile', sans-serif;
}